<div class="modal-header">
  <h4 class="modal-title">Register</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="registerForm" (ngSubmit)="saveCar()">
  <div class="modal-body">
    <!--Nome -->
    <input 
      type="text" 
      placeholder='Name' 
      class='form-control mb-3' 
      id='name' 
      name='name' 
      [(ngModel)]='userRegister.name' 
      formControlName='name'
      [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
    >
    <div *ngIf="registerForm.get('name').hasError('required') && registerForm.get('name').touched" class="invalid-feedback">
      O nome é obrigatório!
    </div>
    <div *ngIf="registerForm.get('name').hasError('minlength') && registerForm.get('name').touched" class="invalid-feedback">
      O nome deve ter mais de 4 caracteres!
    </div>
    <div *ngIf="registerForm.get('name').hasError('maxlength') && registerForm.get('name').touched" class="invalid-feedback">
      O nome não pode ter mais do que 50 caracteres!
    </div>

    <!--Email -->
    <input 
      type="text" 
      placeholder='Email' 
      class='form-control mb-3' 
      id='email' name='email' 
      [(ngModel)]='userRegister.email' formControlName='email'
      [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
    >
    <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="invalid-feedback">
      O Email é obrigatório!
    </div>
    <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="invalid-feedback">
      Email invalido!
    </div>

    <!--Senha -->
    <input 
      type="password" 
      placeholder='Password' 
      class='form-control mb-3' 
      id='password' 
      name='password' 
      [(ngModel)]='userRegister.password' 
      formControlName='password'
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
    >
    <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched" class="invalid-feedback">
      A Senha é obrigatória!
    </div>
    <div *ngIf="registerForm.get('password').hasError('minLength') && registerForm.get('password').touched" class="invalid-feedback">
      A Senha deve ter mais de 6 caracteres!
    </div>

    <!--Confimaçao de senha -->
    <input 
      type="password" 
      placeholder='Confirm Password' 
      class='form-control mb-3' 
      id='confirm_password' 
      name='confirm_password' 
      [(ngModel)]='userRegister.confirm_password' 
      formControlName='confirm_password'
      [ngClass]="{'is-invalid': registerForm.get('confirm_password').value !== registerForm.get('password').value && registerForm.get('confirm_password').touched}"
    >
    <div *ngIf="registerForm.get('confirm_password').value !== registerForm.get('password').value && registerForm.get('confirm_password').touched" class="invalid-feedback">
      Senhas devem ser iguais!
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" [disabled]="!registerForm.valid">Register</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</form>